:root {
  --base-font-size: 16px;
  --base-color: #181818;
  --focus-color: #24388d;
  --input-border-color: #dadada;
  --input-bg-color: #fff;
  --input-focus-outline-color: #03cf5d;
  --input-focus-bg-color: #e9f0fd;
  --button-color: #fff;
  --button-bg-color: #03cf5d;
}

/* 기본 설정 */
body {
  margin: 0 auto;
}

body *,
body *::before,
body *::after {
  box-sizing: border-box;
}

fieldset,
button,
input,
ul {
  border: 0;
  margin: 0;
  padding: 0;
}

*:focus {
  outline: 0.125rem solid var(--focus-color);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  border: 0;
}

/* logo 컴포넌트 */
.logo {
  margin-top: 5rem;
  text-align: center;
}

/* input 컴포넌트 */
.form-input {
  background-color: var(--input-bg-color);
  width: 100%;
  border: 1px solid var(--input-border-color);
  border-radius: 0.1875rem;

  display: flex;
  flex-flow: row nowrap;

  input {
    flex-grow: 1;
    background: transparent;
    border: 0;
    font-size: 0.875rem;
    padding: 0 0.625rem;
    block-size: 2.8125rem;
  }

  input:focus {
    outline: none;
  }

  input:focus-within {
    outline: 1px solid var(--input-focus-outline-color);
    background-color: var(--input-focus-bg-color);
  }
}

/* 로그인폼 레이아웃 */
.login-form {
  padding: 0 1.25rem;
  position: relative;
}

.login-input-group {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
}

/* button 컴포넌트 */
.login-button {
  background-color: var(--button-bg-color);
  color: var(--button-color);
  width: 100%;
  font-size: 1rem;
  height: 2.8125rem;
  order: -1;
}

/*checkbox 컴포넌트  */
input[type='checkbox'] {
  position: absolute;
  appearance: none;
}

/* (1) 로그인 상태 유지 */
.save-login-status input {
  width: 1.2rem;
  height: 1.2rem;
}

.save-login-status label {
  background: url(./icons/unchecked.svg) no-repeat 0 0 / contain;
  padding-left: 1.5625rem;
}

input:checked + label[for='saveLoginStatus'] {
  background-image: url(./icons/checked.svg);
}

/* (2) ip 보안 */
.ip-security-option {
  input {
    width: auto;
    height: auto;
  }
}

.ip-security-label {
  opacity: 0;
}

.ip-security-option input::before {
  content: 'OFF';
  color: darkgray;
}

.ip-security-option input:checked {
  &::before {
    content: 'ON';
    color: #03cf5d;
  }
}

/* 로그인 아래 옵션 레이아웃 */
.form-checkbox {
  width: 100%;
  padding: 1.25rem;
  list-style: none;

  display: flex;
  flex-grow: 1;
  flex-flow: row wrap;
  row-gap: 0.625rem;
  justify-content: flex-end;

  :focus {
    outline: none;
  }

  :focus-visible {
    outline: 2px solid var(--focus-color);
  }
}

/* 모바일 */
@media (max-width: 768px) {
  body {
    min-width: 320px;
  }

  .save-login-status {
    justify-content: flex-end;
  }
  .ip-security-option {
    display: none;
  }
}

/* 데스크탑 */
@media (min-width: 768px) {
  body {
    max-width: 540px;
  }

  .form-checkbox {
    justify-content: space-between;
  }
}
